.nav-container {
  display: flex;
  background-color: indigo;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.nav-middle {
  flex-grow: 1;
  display: flex;
  margin: 0 50px;
}

.nav-right {
  display: flex;
}

.nav-right > p {
  margin: 0 10px;
  cursor: pointer;
  color: #ffffff;
}

.nav-middle > p {
  margin: 0 10px;
  cursor: pointer;
  color: #ffffff;
}

.link {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}
